global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'spring-boot-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['app:8080']
    basic_auth:
      username: ${PROMETHEUS_NAME}
      password: ${PROMETHEUS_PASSWORD}

  - job_name: 'node-exporter'
    static_configs:
      - targets: [ 'node-exporter:9100' ]
