version: "3.8"

services:
  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    container_name: shortness_postgres
    networks:
      - shortness_network
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:8.4.0
    ports:
      - "6379:6379"
    container_name: shortness_redis
    networks:
      - shortness_network
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:

networks:
  shortness_network:
    driver: bridge